.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  min-width: 100%;
  background-color: rgb(3, 3, 3);
  color: white;
}

.dashboard-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: solid rgb(185, 183, 183) 3px;
  padding: 1em;
  border-radius: 5px;
  margin: 3em;
  text-align: center;
}

.header-text {
  text-align: center;
  padding: .6em;
}

.button-container {
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
}


.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-container {
  margin: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40vh;
  text-align: center;
}

.connect-button {
  margin-top: 5em;
}

.button-width .btn {
  margin: .5em;
}